{% extends 'base.html' %}
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>
    .name {
        padding: 300px; margin: 300px;
    }

</style>
</head>
{% block contents %}
<body>
    <div class="body">
        <br><br>
        <h1 class="name" style="margin-left: 50px;">My Diary</h1>
        <br>
        <a href="{% url 'new' %}"><button type="button" class="btn btn-default" style="margin-left: 50px;">일기 쓰기</button></a>
        <br><br><br>
        <div class="list-group">
            {% for diary in diarys %}
            <a href="{% url 'detail' diary.id %}" class="list-group-item">{{diary.title}}, {{diary.pub_date}}</a>
            {% endfor %}
        </div>
    </div>

</body>
{% endblock %}