{% extends 'base.html' %}
{% load static %}
<head>
<!-- 합쳐지고 최소화된 최신 CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- 부가적인 테마 -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- 합쳐지고 최소화된 최신 자바스크립트 -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

<style>

</style>
</head>
{% block contents %}
<body>


<div class="contents" style="margin-left: 150px; padding: 100px;">
    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '1.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>Palace Reflected in Water</strong></h4>
    </div>

    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '2.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>In the Leaf Cave</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '3.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>Autumn Perfume</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '4.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>Deep Blue Paint in the Sky</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '5.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>Red Car for Children</strong></h4>
        </div>
    </div>

    <div class="media">
        <div class="media-left media-middle">
            <img class="media-object" src="{% static '6.jpg' %}" width="600px" height="400px">
        </div>
        <div class="media-body">
          <h4 class="media-heading"><br><br><br><strong>The Cat on the Roof</strong></h4>
        </div>
    </div>
</div>

<br><br><br>
</body>
{% endblock %}